{% extends "base.html" %}

{% block content %}

<h2 class="text-center">Works log</h2>
{% for job in jobs %}
    <h3>Action # {{ job.id }}</h3>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Title of activity</th>
          <th scope="col">Team leader</th>
          <th scope="col">Duration</th>
          <th scope="col">List of collaborators</th>
          <th scope="col">Is finished</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-primary">{{ job.job }}</td>
          <td class="table-primary">{{ job.user.surname }} {{ job.user.name }}</td>
          <td class="table-primary">{{ job.work_size }} hours</td>
          <td class="table-primary">{{ job.collaborators }}</td>
          {% if job.is_finished %}
            <td class="table-success">Is finished</td>
          {% else %}
            <td class="table-danger">Is not finished</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
{% endfor %}
{% if current_user.is_authenticated %}
    <div class="row justify-content-center">
        <a class="btn btn-primary" href="/addjob">Добавить работу</a>
    </div>
{% endif %}
{% endblock %}
